/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.banner-btn{
    background-color: #fff;
    border: none;
    color: rgba(28, 28, 189, 0.678);
    font-weight: 600;
    border-radius: 5px;
    padding: 8px 25px;
}
.card li{
    list-style: none;
}